.wrapper {
  display: grid;
  gap: 0.5rem;
}

.total {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.value {
  font-weight: 600;
}

.summary {
  color: #4635cd;
}
