.button {
  background: #ff5b5f;
  border: 2px solid #ff5b5f;
  border-radius: 2rem;
  height: 3rem;
  font-weight: 600;
  color: #fff;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 10rem;
  transition: all 500ms ease;
  cursor: pointer;
}

.label {
  display: flex;
  justify-content: center;
}

.button svg {
  fill: #fff;
  transition: all 500ms ease;
  justify-self: center;
}

.button:hover {
  background: none;
  color: #ff5b5f;
}

.button:hover svg {
  fill: #ff5b5f;
}
