.wrapper {
  position: relative;
  display: grid;
  gap: 3rem;
}

.header {
  font-size: 1.5rem;
}

.main {
  display: grid;
  gap: 3rem;
}

.mainMain {
  display: grid;
  gap: 2rem;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
}

.selectWrapper,
.switchWrapper {
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
}

.terms {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.noConsent {
  color: #f00;
}

/* phones and small devices */
@media only screen and (max-width: 600px) {
  .wrapper {
    gap: 2rem;
  }
}
