.wrapper {
  display: grid;
  gap: 3rem;
}

.header {
  font-size: 1.5rem;
}

.main {
  display: grid;
  gap: 1rem;
}

.mainMain {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  position: relative;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
}

.selectWrapper,
.switchWrapper {
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
}

.footer {
  display: flex;
}

/* phones and small devices */
@media only screen and (max-width: 600px) {
  .wrapper {
    gap: 2rem;
  }

  .mainHeader {
    display: grid;
    gap: 1rem;
    justify-content: unset;
  }

  .mainMain {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
  }
}
